@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MesloLGS NF';
  src: url('/fonts/MesloLGS_NF_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MesloLGS NF';
  src: url('/fonts/MesloLGS_NF_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MesloLGS NF';
  src: url('/fonts/MesloLGS_NF_Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MesloLGS NF';
  src: url('/fonts/MesloLGS_NF_Bold_Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

:root {
  --bg-color: #1f1f29;
  --text-color: #ddd7b7;
}

.light-mode {
  --bg-color: #FDF6E3;
  --text-color: #7F7E7A;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}